.end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  min-width: 225px;
}

.create-btn {
  width: 93px;
  height: 36px;
  gap: 5px;
  border: none;
  border-radius: 20px;
  background-color: var(--hover-color);
  color: var(--text-color);
  font-size: 14px;
  cursor: pointer;
}

.create-btn:hover,
.create-btn:focus {
  background: var(--hover-hover-color);
}

.notification-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.notification-btn:hover,
.notification-btn:focus {
  background-color: var(--hover-color);
  border-radius: 50%;
}

.notification-btn svg {
  width: 24px;
  height: 24px;
}

.avatar-btn {
  width: 60px;
  height: 34px;
  padding: 1px 6px;
  border: none;
  background: none;
}

.avatar-btn img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  cursor: pointer;
}
