.main-container {
  background-color: var(--background-color);
  margin-top: 44px;
  margin-bottom: 44px;
  display: flex;
}

.content-container {
  width: 100%;
  max-width: 935px;
  padding: 0 0 8px;
  margin: 0 auto;
  display: flex;
}

.content {
  width: 100%;
  max-width: 614px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 620px) {
  .content-container {
    padding: 30px 0 24px;
  }

  .content {
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .content {
    margin: unset;
  }
}
