.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 72px;
  padding: 4px 0;
  background-color: var(--background-color);
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  z-index: 100;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-link {
  flex-direction: column;
  width: 64px;
  height: 74px;
  gap: 8px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.sidebar-link:hover,
.sidebar-link:focus {
  background-color: var(--hover-color);
}

.sidebar-link span {
  font-size: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
